.main {
  @extend .container-fluid;
  
  .profile {
    @extend .col-xs-9;
    @extend .col-md-10;
    @extend .col-xs-offset-3;
    @extend .col-md-offset-2;
    top: 60px;
    padding-left: 25px;
    .body {
      .large {
        font-size: 21px
      }
    }
  }
}